{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans "Dashboard" %}{% endblock %}
 {% block extra_css %}
 <style>
.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.flex-wrap {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}
.flex-item {

}
</style>
 {% endblock extra_css %}
{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans "AA Seat" %}</h1>
        <div class="col-lg-10 col-lg-offset-1 container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav ">
                        <li><a href="{% url 'aaseat:add_char' %}">{% trans "Add New Character Token" %}</a></li>
                        <li><a href="{% url 'aaseat:add_corp' %}">{% trans "Add New Corporate Token" %}</a></li>
                    </ul>
                </div>
            </nav>
            {% block aaseat_block %}{% endblock %}
        </div>
    </div>
{% endblock %}
